# Server Configuration
PORT=5000
NODE_ENV=development

# MongoDB
# Local: mongodb://localhost:27017/feedants_competition
# Atlas: mongodb+srv://<username>:<password>@<cluster>.mongodb.net/feedants_competition?retryWrites=true&w=majority
MONGODB_URI=mongodb+srv://ShubhamDhakre:Shubham2004@cluster1.9f6c0hv.mongodb.net/?appName=Cluster1

# JWT
JWT_SECRET=4c6c7cbae0f1ea332fcde6c703c820ab11da7dd28fa67a5a684cdad4716864bb
JWT_EXPIRES_IN=7d

# CORS
CORS_ORIGIN=*
